* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font: optional;
    font-size: medium;
    font-weight: 100;
}
body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.nav {
    height: fit-content;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#bubbleit {
    display: none;
}

.bubble p {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#bubbleit:checked~p {
    color: blue;
}

.app {
    border: 2px solid black;
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 5px;
}

.graph {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
}

.bars {
    background-color: black;
    height: 100px;
    transition: height 500ms;
}

.algos {
    display: flex;
    gap: 10px;
}
.icon img{
    height: 90px;
}
.gradient-border {
    --borderWidth: 3px;
   
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    -webkit-animation: animatedgradient 3s ease alternate infinite;
            animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @-webkit-keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  