* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: small;
}
body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgb(255, 210, 62) 0%, rgb(241, 154, 171) 100%);
}
.nav {
    display: flex;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.algos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.app {
    width: 90vw;
    max-height: 900px;
    margin: auto;
    margin-top: 5px;
    height: 80vh;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

td {
    border: 1px solid rgba(0, 0, 0,0.3);
    border-collapse:collapse ;
    box-sizing: border-box;
    padding: 6px;

}

#inpt {
    width: 230px;
}
#rat i ,#cheese i{
    display: block;
    width: fit-content;
    margin: auto;
    font-size: xxx-large;
    padding: 3px;
}
.queen{
    color:rgb(63,94,251) ;
    color:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-size: xxx-large;
    width: fit-content;
    display: block;
    margin: auto;

}
#maze{
    border-collapse: collapse;
    

}
.icon img{
    height: 90px;
}
.dragoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}